<network>
  <name>local</name>
  <uuid>72757455-f47d-4f31-812e-1bce0eb3bab2</uuid>
  <bridge name='virbr1' stp='on' delay='0'/>
  <mac address='52:54:00:8f:f8:7e'/>
  <domain name='local'/>
  <ip address='192.168.100.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.100.128' end='192.168.100.254'/>
    </dhcp>
  </ip>
</network>
