<pool type='dir'>
  <name>iso</name>
  <uuid>7177a91b-454b-4e52-8ef7-07c5b863c062</uuid>
  <capacity unit='bytes'>117299081216</capacity>
  <allocation unit='bytes'>16393342976</allocation>
  <available unit='bytes'>100905738240</available>
  <source>
  </source>
  <target>
    <path>/home/me/.uni/iso</path>
    <permissions>
      <mode>0755</mode>
      <owner>1000</owner>
      <group>1001</group>
    </permissions>
  </target>
</pool>
